@font-face{
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Bowlby";
  src: url("../fonts/BowlbyOne-Regular.ttf") format("truetype");
}

.nav-color {
    background: rgba(220,220,220,0.2);
    border-color: transparent;
    top: 0;
}

.navbar-default {
    border-color: transparent;
}

.navbar {
    margin-bottom: 0px;
    float: none;
}

.nav-head {
    padding-left: 35%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.dropdown-menu {
    padding: 15px;
}
/* for submenu  */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* end  */

.hideme {
      display: none;
}

.wood-subtitles {
    font-size: 26px;
    margin: 40px 0px;
}

.wood-content {
    padding: 20px 0px;
    font-size: 16px;
}

.spacer {
     padding: 60px 15%; 
}

.sm-spacer {
    margin-top: 30px;
    padding: 40px 30px;
}

.sm-spacer > h3 {
    font-family: "Anton"
}

.product-title {
    margin-bottom: 40px;
}

.carousel-inner > div > img {
    max-height: 420px;
    width: 100%;
}

.footer {
    min-height: 100px;
    padding: 100px 0px;
    background: #232323;
    bottom: 0;
    color: #ccc;
}

.contact-upper-padding {
    padding-top: 60px;
    margin-bottom: 60px;
}

.img-handle {
    max-height: 200px;
    padding: 30px;
}

.p-img {
    max-width: 100%;
    max-height: 200px;
}

.products-div {
    padding-top: 45px;
    padding-bottom: 22px;
}

.signature:link {
    /* color: #fff; */
    color: transparent;
}

.nav-logo {
    height: 270%;
    margin-top: -17px;
}

.set-image-size > div > div > div > img {
    width: 150px;
}

.set-image-size > div > div {
    min-height: 150px;
}

.set-image-size > div > h3 {
     padding: 25px 15px; 
    text-align: center;
    font-family: 'Anton';
}